@import "utils";
// @import "fonts";

// Blocks
@import "./blocks/container";
@import "./blocks/logo";
@import "./blocks/footer";

:root {
  font-family: "Libre Franklin", sans-serif;
}

body {
  height: 100vh;
  padding-top: calc(100vh - 125px);
}
